*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    text-decoration: none;
    font-family: arial,sans-serif;
}
nav {
    display: flex;
	align-items: center;
    justify-content: center;
}

body{
    display:flex;
    flex-direction:column;
    min-height: 100vh;
}

/* nav a{
    display:inline-block;
    color:rgb(0,0,0, 0.87);
} */

nav {
    display: flex;
	align-items: center;
    justify-content: center;
}
.nav-container{
    /* display:flex; */

}
.nav1 {
   
    flex:1;
    margin-left: 30px;
	margin-top: 5px;
    
}
.nav2{
    margin-right: 30px;
	margin-top: 14px;
}

.nav1 a{
    position: relative;

    font-size:14px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(0,0,0, 0.87);
    cursor:pointer;
    padding:5px 7px;
}
.nav2 a{
    font-size:14px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(0,0,0, 0.87);
    cursor:pointer;
    padding:5px 7px;
    position: relative;
    top:-12px;


}
nav a:hover {
	text-decoration: underline;
	opacity: .85;
}
.nav2 img {
	width: 34px;
	padding: 5px;
	margin: auto 7px;
	cursor: pointer;
}
.nav2 button{
    border: 1px solid #4285f4;
	font-weight: bold;
	outline: none;
	background: #4285f4;
	color: #fff;
	padding: 7px 12px;
	border-radius: 3px;
	margin-left: 7px;
	cursor: pointer;
    position: relative;
    top:-12px;
}
.section-1 {
	flex: 1;
}
.section-1 .logo {
	display: block;
	margin: 0px auto;
	margin-top: 107px;
}
.s-box{
    width:580px;
    margin:0px auto;
    position:relative;
    margin-top:-8px;
    text-align:center;

}
#s-input{
    display:block;
    border:1px solid #ddd;
    color:rgba(0,0,0,0.87);
    font-size:16px;
    padding:13px;
    padding-left:45px;
    border-radius: 25px;
    width:100%;
    transition: box-shadow 100ms;
    outline: none;
}
#s-input:hover{
    border: 1px solid #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 
				0 0 2px rgba(0, 0, 0, 0.05),
				0 0 3px rgba(0, 0, 0, 0.05),
				0 0 4px rgba(0, 0, 0, 0.05), 
				0 0 5px rgba(0, 0, 0, 0.05), 
				0 0 4px rgba(0, 0, 0, 0.05), 
				0 0 5px rgba(0, 0, 0, 0.05)
}
.s-box .search-icon{
    width:2rem;
    opacity:.7;
    position:absolute;
    top:8px;
    left:10px;
    }
#icon{
    width:2.7rem;
    position: absolute;
    top:7px;
    right:14px;
}
.btn{
    border: 1px solid transparent;
    padding:9px 15px;
    color: #666;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 28px;
    outline:none;
    cursor: pointer;
    transition: border-color 100ms;

}
.btn:hover{
    border:1px solid #aaa;
}
.lang{
    margin-top: 30px;
    text-align: center;
    font-size:16px;
    color:#111;
}
.lang a {
	margin-left: 5px;
	color: #1a0dab;
}
.lang a:hover {
	text-decoration: underline;
}
